.upload {
  display: flex;

  .stepper {
    margin: 3rem 0 3rem 7rem;
    padding: 0 3rem;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }

  .step {
    width: 100%;
    min-height: 77vh;
    margin: 3rem 7rem 3rem 0;
    padding: 3rem;
    border-top: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .buttons {
      align-self: flex-end;
      margin: auto 10rem 0;
      display: flex;
      justify-content: flex-end;

      :not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
