.upload {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  .stepper {
    flex: 0 1 30rem;
    min-width: 15rem;

    margin: 3rem 0 3rem 7rem;
    padding: 0 3rem;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }

  .step {
    flex: 1 1 45rem;
    margin: 3rem 7rem 3rem 0;
    padding: 3rem;
    border-top: 1px solid black;
    text-wrap: wrap;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .buttons {
      align-self: flex-end;
      margin: auto 10rem 0;
      display: flex;
      justify-content: flex-end;

      :not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
