


$white: #eee;
$white-grey-1: #eeecec;

$light-pink: #d18787;
$red-error: rgb(252, 51, 51);

$light-grey-1: rgb(231, 222, 222);
$light-grey-2: #a9a9a9;
$light-grey-3: #cacaca;

$dark-grey-1: #848884;
$dark-grey-2: rgb(173, 175, 177);
$dark-grey-3:#3f413f;

$blue-grey-1: #2c3e50;
$blue-grey-2: #474e57;
$blue-grey-3: #182029;

$black: #000;
$black-background: rgb(0, 0, 5);

$blue-1: rgb(52, 52, 224);
