@import 'abstracts/variables';
@import 'abstracts/mixins';

.home {
  flex: 1 1 auto;
  width: 100%;
  color: $dark-grey-3;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;

  .loading-categories {
    position: fixed;
    top: 40%;
    left: 47.5%;
    z-index: 10;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .categories {
      width: 100%;
      height: fit-content;
      margin-bottom: 2rem;
    }
  }
}

.home:has(.overlay) {
  height: 110vh;
  overflow: hidden;
}
