@import 'abstracts/variables';

.home {
  height: fit-content;
  background-color: $light-grey-1;
  margin: 0 3rem;
  background-color: rgb(225, 226, 226);

  display: flex;

  position: relative;

  .body {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 2rem 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }
}

.home:has(.overlay) {
  height: 80rem;
  overflow: hidden;
}
