@import 'abstracts/variables';
@import 'abstracts/mixins';

.overlay {
  color: black;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($blue-grey-1, 0.4);
  transition: all 0.2s;

  display: flex;
  justify-content: flex-end;

  .icon-close {
    order: 2;
    width: 6rem;
    height: 6rem;
    padding: 0.8rem;
    position: absolute;
    top: 2rem;
    right: 2rem;

    fill: $grey-collection-2;
    border-radius: 100%;
    border: 0.6rem solid $grey-collection-2;
    cursor: pointer;

    &:hover {
      fill: $grey-collection-3;
      border: 0.6rem solid $grey-collection-3;
    }
  }

  .preview {
    font-size: 1.6rem;
    width: 78%;
    height: 100vh;
    margin-top: 3.5rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    padding: 2rem 5rem 4rem;
    box-shadow: 0 0 1rem rgba($black, 0.4);
    background-color: $grey-collection-5;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    transition: all 0.2s;

    @include respond(tab-port) {
      width: 100%;
      margin: 0;
      margin-top: 0;
      height: 100%;
    }

    .options {
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      .icon-heart {
        width: 3rem;
        height: 3rem;
        fill: red;
      }
    }

    .description {
      font-weight: 400;
    }

    .presentation {
      width: 100%;
      display: flex;
      justify-content: space-around;

      @include respond(phone) {
        flex-direction: column;
      }

      .image {
        width: 30rem;
        height: 30rem;
        object-fit: scale-down;

        @include respond(phone) {
          width: 50vw;
          height: 50vw;
          order: -1;
          align-self: center;
          margin-bottom: 2rem;
        }
      }
    }

    .instructions {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }

    .player-container {
      display: block;
      width: 80rem;
      height: 45rem;

      @include respond(big-desktop) {
        width: 50vw;
        height: 55rem;
      }
      @include respond(tab-land) {
        width: 65vw;
      }
      @include respond(tab-port) {
        width: 85vw;
      }
    }
  }
}
.overlay + .content {
  height: 110vh;
  filter: blur(1.5px);
}
