@import '../../abstracts/variables';

.category {
  // color: $light-grey-1;
  width: 100%;

  border-top: 2px solid $dark-grey-1;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    align-self: flex-start;
    margin-left: 1rem;
  }

  .slider {
    width: 90%;
    display: flex;

    display: flex;
    justify-content: center;
    align-items: center;

    .slick-arrow {
      z-index: 2;
    }

    .slick-next {
      top: 45%;
      right: -0.7rem;

      &::before {
        font-size: 5rem;
      }
    }

    .slick-prev {
      top: 45%;
      left: -5.5rem;

      &::before {
        font-size: 5rem;

        :hover {
          opacity: 1;
        }
      }
    }
  }

  // .preview {
  //   display: flex;

  //   .btn {
  //     height: 25rem;
  //   }
  //   .items {
  //     height: 25rem;
  //     // overflow-y: auto;

  //     // -ms-overflow-style: none;
  //     // scrollbar-width: none;

  //     // &::-webkit-scrollbar{
  //     //   display: none;
  //     // }

  //     display: flex;
  //     justify-content: space-around;
  //     gap: 1.5rem;

  //     overflow-x: auto;
  //     // white-space: nowrap;
  //     transition: all 1s ease-in-out;
  //   }
  // }
}

// .arrow {
//   position: absolute;
//   top:0;
//   left: 0;
//   background-color: red;
//   fill: red;
//   color: red;
//   display: block;
// }
