.list {
  flex: 1 1 auto;
  max-width: 30vw;
  min-width: 50%;
  min-height: 10rem;
  max-height: 17rem;
  padding: 1rem;
  border: 1px solid black;
}

.form-ingredient {
  flex: 1 1 auto;
  width: 50%;

  display: flex;
}
