@import 'abstracts/variables';

.search {
  flex: 1 1 auto;
  margin-right: -10rem;

  .search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .input {
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.1px;
      height: 3.5rem;
      width: 30rem;
      margin-left: -2rem;
      padding: 0 1rem 0.2rem 3rem;
      border: none;
      outline: none;
      outline-offset: -2px;
      border-radius: 5px;
      background-color: $grey-collection-4;
      transition: all 0.2s;

      &:focus,
      &:not(:placeholder-shown) {
        // transform: scale(1.2, 1.05);
        // font-size: 1.3rem;
      }
    }

    #btn-icon {
      width: 1.5rem;
      height: 2rem;
      border: none;
      background-color: transparent;

      z-index: 2;
      position: relative;
      transition: all 0.2s;

      :hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      .icon {
        width: 1.5rem;

        position: absolute;
        top: -0.7rem;
        left: 0.2rem;
      }
    }

    .input:focus + #btn-icon,
    .input:not(:placeholder-shown) + #btn-icon {
      transform: translateX(3rem);
    }
    .suggestions {
      width: 26rem;
      padding: 1rem 2rem;
      border-radius: 10px;
      box-shadow: 0rem 1rem 1.5rem rgba($black, 0.4);
      z-index: 2;

      position: absolute;
      top: 2.6rem;
      left: 38.1%;
      animation: moveInDown 0.2s ease-out;
      background-color: $dark-grey-3;

      & ul {
        list-style-type: none;

        & li {
          margin-bottom: 5px;
          cursor: pointer;

          &:hover {
            background-color: $blue-grey-3;
            color: white;
          }
        }
      }
    }
  }
  .search-bar:has(.input:not(:focus)) .suggestions {
    visibility: none;
    opacity: 0;
  }
}
